<template name="gauge">
  <div id="{{prefix}}-gauge" class="gauge">
    <img src="/images/meter_face.png">
    <div id="{{prefix}}-tunguska-gauge" class="tunguska-gauge">
    </div>
    <canvas id="{{prefix}}-display" class="display" width="95" height="17"></canvas>
    <div class="strip-chart">
      <div class="strip-chart-background"></div>
      <canvas id="{{prefix}}-smoothie-canvas" class="strip-chart-canvas" width="{{smoothieWidth}}" height="{{smoothieHeight}}"></canvas>
      <img class="strip-chart-top" src="/images/strip_chart_top.png">
      <div id="{{prefix}}-smoothie-recorder" class="strip-chart-recorder">
      <img id=""  src="/images/recorder_head.png">
      <span id="circle-{{prefix}}" class="circle"></span>
      </div>
      <img class="strip-chart-bottom" src="/images/strip_chart_bottom.png">
      <div class="save-strip-chart">
        <img class="strip-chart-save clickable" src="/images/save_strip_chart.jpg">
        Save to File
      </div>

    </div>
  </div>

  {{updateData}}
</template>
