<template name="gauge">
  <div id="{{prefix}}-gauge" class="gauge">
    <img src="/meter_face.png">
    <div id="{{prefix}}-tunguska-gauge" class="tunguska-gauge">
    </div>
    <div id="{{prefix}}-display" class="display"></div>
    <div class="strip-chart">
      <div class="strip-chart-background"></div>
      <canvas id="{{prefix}}-smoothie-canvas" class="strip-chart-canvas" width="{{smoothieWidth}}" height="{{smoothieHeight}}"></canvas>
      <img class="strip-chart-top" src="/strip_chart_top.png">
      <img id="{{prefix}}-smoothie-recorder" class="strip-chart-recorder" src="/recorder_head.png">
      <img class="strip-chart-bottom" src="/strip_chart_bottom.png">
    </div>
  </div>

  {{updateData}}
</template>
