<template name="gaugeSelectors">
  <div id="site-selectors">
    {{#each gauges}}
      <select data-meter="{{gaugeNum}}" class="site-source {{safariDropdownFix}}">
        <option disabled>{{_ "site"}}</option>
        {{#each pqubeData}}
          <option value="{{_id}}" {{siteSelected ../gaugeNum _id}}>{{_ name}}</option>
        {{/each}}
      </select>
    {{/each}}
  </div>
  <div id="gauge-selectors">
    {{#each gauges}}
      <select data-meter="{{gaugeNum}}" class="meter-source {{safariDropdownFix}}">
        <option disabled>{{_ "channel"}}</option>
        {{#each (dataSource gaugeNum)}}
          <option value="{{gaugeName}}" {{gaugeSelected ../gaugeNum gaugeName}}>{{_ gaugeName}}</option>
        {{/each}}
      </select>
    {{/each}}
  </div>
</template>
