.emacs_backups
/mup.json
/packages/npm-container/
/packages/odometeor/.versions
/client/templates/gauges/js/meters.js
/client/templates/js/dataLayout.js
/server/modbus.js~
/.DS_Store
/packages/.DS_Store
/public/.DS_Store
