/* CSS declarations go here */
body {
    width:100%;
    margin:0;
}
footer {
    text-align: center;
}

.hidden {
    display: none;
}

#container {
    width:200px;
    margin: auto;
}
#logo {
    width:200px;
}
#setup-modal {
    border: solid 1px gray;
    padding: 2px;
}
#close-setup {
    float: right;
}
#meta {
    width: 200px;
    text-align:center;
}
#status-light{
    width:50px;
    margin:auto;
}
#status-light img{
    width:100%;
}
#meter-source{
    width:200px;
    text-align:center;
}
#freq-gauge {
    position:relative;
}

#tunguska-gauge {
    position:absolute;
    top:-5px;
    left:-2px;
    display:inline-block;
    width: 200px;
    height: 200px;
}

#freq-display {
    position:absolute;
    top:201px;
    left:51px;
    width: 95px;
    height: 17px;
}