/* CSS declarations go here */
body {
    width:100%;
    margin:0;
		color: gray;
}
footer {
		width:100%;
		position:absolute;
		bottom:20px;
    text-align: center;
}

a:link {
		color: #aaa;
}

a:visited {
		color: #ccc;
}

.hidden {
    display: none;
}

.centered {
		text-align: center;
}

#container {
		position:relative;
    width:640px;
		height: 960px;
    margin: auto;
		background-image: url('background.png');
		background-repeat: no-repeat;
}
#logo {
		position:relative;
		top: 20px;
		left: 20px;
}
#waveforms-placeholder {
		position:absolute;
		left:15px;
		top:116px;
}
#setup-modal {
		color:black;
		position: absolute;
    border: solid 1px #333;
    padding: 2px;
		background: gray;
		top:10px;
		bottom:10px;
		left:10px;
		right:10px;
		z-index:10;
}

#setup-branding p{
		position:absolute;
		left: 160px;
		top: 42px;
}
#setup-logo {
		width: 150px;
}
#setup-controls {
		top: 10px;
		right: 10px;
		position: absolute;
		text-align:right;

}
#setup-controls a{
		text-decoration: none;
		font-size:20px;
}
#language-select {
		width:150px;
}
#main-settings {
		background:#a3c5f7;
		width:600px;
		height: 150px;
		margin:auto;
}
#meter-settings {
		background:#cbdbcc;
		width:600px;
		margin:auto;
}
#alert-settings {
		background:#e79090;
		width:600px;
		height: 220px;
		margin:auto;
}
#alert-setup {
		position:absolute;
		width:270px;
		left:20px;
		top:380px;
		padding-left: 5px;
		border:dashed 1px #e79090;
}
.main-select {
		position:relative;;
		left: 10px;
		top: 10px;
}
.options-right {
		position:relative;
		top:-20px;
		left:300px;
		width:300px;
}
.options-right p.right {
		text-align:right;
		padding-right:10px;
}
.small-input {
		width:30px;
}
.options-right input:not(.inline){
		position:absolute;
		right:10px;
		text-align:right;

}
#cancel {
		position:absolute;
		bottom:10px;
		left: 10px;
}
#save {
		position:absolute;
		bottom:10px;
		right: 10px;
}

#meta {
		position: absolute;
		right: 20px;
		top: 20px;
    text-align:center;
}
#status-light{
    width:35px;
    margin:auto;
}
#status-light img{
    width:100%;
}
#meter-1 {
		position:absolute;
		top: 365px;
		left: 15px;
}
#meter-source{
    width:200px;
}
#freq-gauge {
    position:relative;
}

#tunguska-gauge {
    position:absolute;
    top:-5px;
    left:-2px;
    display:inline-block;
    width: 200px;
    height: 200px;
}

#freq-display {
    position:absolute;
    top:201px;
    left:51px;
    width: 95px;
    height: 17px;
}