/* CSS declarations go here */
body {
    font-family: Sans-Serif;
    width:100%;
    margin:0;
    color: gray;
}
footer {
    width:100%;
    text-align: center;
    font: black;
}

a:link {
    color: #aaa;
}

a:visited {
    color: #ccc;
}
a.btn {
    color:initial;
}
.at-link {
    color:blue!important;
}
select {
    background-color: #40434b;
    border-color: #222;
    color: #ccc;
}
select.safariDropdownFix {
    color: black !important;
}
select.meter-select {
    background-color: initial;
    color: initial;
    border-radius: 5px;
}
.right-bordered {
    border-right: solid 1px #ddd;
}
.left-bordered {
    border-left: solid 1px #ddd;
}
.borderless {
    border: none;
}
.hidden {
    display: none;
}
.text-right {
    text-align: right;
}
.centered {
    text-align: center;
}
.red {
    color: red;
}
.yellow {
    color: yellow;
}
.blue {
    color: #0066FF;
}
.full-width {
    width: 100%;
}
#bad-browser {
    position:relative;
    width: 480px;
    margin: auto;
    color: black;
}

#bad-browser a:link {
    color: blue;
}
#bad-browser a:visited {
    color: purple;
}

#manage-content {
    padding-top:75px;
    padding-bottom: 20px;
}

#container {
    position:relative;
    width:640px;
    height: 960px;
    margin: auto;
    background-image: url('images/background.png');
    background-repeat: no-repeat;
}
#logo {
    position:absolute;
    top: 40px;
    left: 20px;
}
#title-font-sizing {
    position:absolute;
    visibility: hidden;
    overflow: nowrap;
}
#title {
    position:absolute;
    left:115px;
    bottom:15px;
    font-size:25px;
}
#scope-site-source{
    position:absolute;
    left:175px;
    bottom: 2px;
}
#pqube-time {
    position:absolute;
    left:400px;
    top:3px;
    font-size:10px;
}
#scopes-panel {
    position:absolute;
    left: -2px;
    top: 113px;
}
#voltage-chart {
    position:absolute;
    left:27px;
    top:125px;
}
#voltage-vectors {
    position:absolute;
    left: 271px;
    top: 127px;
}
#current-chart {
    position:absolute;
    left:26px;
    top:215px;
}
#current-vectors {
    position:absolute;
    left: 271px;
    top: 218px;
}
#voltage-chart-scale {
    position:absolute;
    left:200px;
    top:197px;
    font-size:10px;
}
#current-chart-scale {
    position:absolute;
    left:200px;
    top:288px;
    font-size:10px;
}
#setup-modal {
    color:black;
    position: absolute;
    border: solid 1px #333;
    padding: 2px;
    background: gray;
    top:10px;
    bottom:10px;
    left:10px;
    right:10px;
    z-index:10;
}

#setup-branding p{
    position:absolute;
    left: 160px;
    top: 42px;
}
#setup-logo {
    width: 150px;
}
.close-setup {
    font-size: 20px;
}
#setup-controls {
    top: 10px;
    right: 10px;
    position: absolute;
    text-align:right;
}
#setup-controls a{
    text-decoration: none;
    font-size:30px;
    color: white;
}
#language-select {
    width:150px;
}
#main-settings {
    background:#a3c5f7;
    width:600px;
    margin:auto;
}
#meter-settings {
    position:relative;
    background:#cbdbcc;
    width:600px;
    margin:auto;
    padding-bottom: 10px;
}
#meter-settings-inputs{
    position:absolute;
    top: 20px;
}
#alarm-settings {
    background:#e79090;
    width:580px;
    margin:auto;
    text-align:right;
}
#alarm-settings h3 {
    padding:5px;
    text-align:left;
}
#alarm-setup {

    width:270px;
    left:20px;

    padding-left: 5px;
    padding-right: 5px;
    border:dashed 1px #e79090;
}
.main-select {
    position:relative;;
    left: 10px;
    top: 10px;
}
.options-right {
    position:relative;
    top:-20px;
    left:300px;
    width:280px;
}
.options-right p.right {
    text-align:right;
    padding-right:10px;
}
.small-input {
    width:40px;
}
.options-right input:not(.inline), #color-boxes-input{
    position:absolute;
    right:10px;
    text-align:right;
    width:150px;
}
#cancel {
    position:absolute;
    bottom:10px;
    left: 10px;
}
#save {
    position:absolute;
    bottom:10px;
    right: 10px;
}

#meta {
    position: absolute;
    left: 20px;
    top: 10px;
		width: 600px;
    height: 20px;
}
#meta p {
    position:relative;
    top: -12px;
}
#new-data-status {
		position:absolute;
		right: 20px;
		top: 40px;
		width: 175px;
}
#new-data {
    position:absolute;
    text-align: right;
    font-size: 14px;
    width: 110px;
    left: 12px;
    top: 15px;
}
#status-light img{
    position:absolute;
    right:10px;
    top:7px;
    width:35px;
}
#languages {
    position:absolute;
    left: 5px;
    bottom:2px;
} 
#odometers {
    position:absolute;
    right: 20px;
    top: 150px;
    width:260px;
    height: 170px;
    font-size: 16px;
}
#odometer1 {
    position:absolute;
    left: 16px;
    top:6px;
}
#odometer2 {
    position:absolute;
    left: 16px;
    top:57px;
}
#odometer3 {
    position:absolute;
    left: 16px;
    top:108px;
}
#last-reset {
    position:absolute;
    bottom:8px;
    left:15px;
    font-size:12px;
}
#view-selector {
    position:absolute;
    left:0px;
    width:640px;
    top: 322px;
    text-align:center;
}
#selector-switch {
    width:50px;
}
.clickable {
    cursor: pointer;
}
#view-selector span {
    position:relative;
}
#site-selectors {
    position:absolute;
    top: 2px;
    left: 15px;
    width:630px;
}
#spectra {
position:absolute;
top:375px;
left:0px;
width:640px;
text-align:center;
}
#harmonic-fundamental {
    margin-top:10px;
}
#spectra-chart {
    background-color: #1A301C;
    border: solid 1px black;
    padding:5px;
    padding-left:50px;
    padding-bottom:20px;
    position:absolute;
    left:25px;
    top: 100px;
}
#y-axis-units {
    position:absolute;
    top: 310px;
    left: 35px;
}
#x-axis-units {
    position:absolute;
    top:540px;
    left: 320px;
}
.spectra-units {
    color:rgba(0,163,0,.75);
}
#gauges {
    position:absolute;
    top:375px;
}
#gauge-selectors {
    position:absolute;
    top: 32px;
    left: 15px;
    width: 630px;
}
#meter-1 {
    position:absolute;
    top: 60px;
    left: 15px;
}
#meter-2 {
    position:absolute;
    top: 60px;
    left: 220px;
}
#meter-3 {
    position:absolute;
    top: 60px;
    left: 425px;
}
.meter-source,
.site-source{
    width:200px;
}
.gauge {
    position:relative;
}

.tunguska-gauge {
    position:absolute;
    top:-3px;
    left:-2px;
    display:inline-block;
    width: 200px;
    height: 200px;
}

.display {
    position:absolute;
    top:201px;
    left:51px;
    width: 95px;
    height: 17px;
}

.strip-chart {
    position:absolute;
    top:255px;
    left:0px;
}

.strip-chart-top{
    position:absolute;
    top:-20px;
    left:-5px;
}
.strip-chart-recorder {
    position:absolute;
    top: 23px;
    left: 89px;
    will-change: left;
}
.strip-chart-recorder .circle {
    position:absolute;
    top: 23px;
    left:4px;
    width:9px;
    height:9px;
    border-radius:50%;
}
#circle-1 {
background-color: purple;
}
#circle-2 {
background-color: #D66A00;
}
#circle-3 {
background-color: green;
}
.strip-chart-background {
    position:absolute;
/*    background: #e4e4e4;*/
    top:25px;
    left: 30px;
    width: 135px;
    height: 200px;
}
.strip-chart-canvas {
    position:absolute;
    top:21px;
    left:34px;
}
.strip-chart-bottom {
    position:absolute;
    top: 200px;
    left:0px;
}

.save-strip-chart {
    position: absolute;
    top: 235px;
    left: 35px;
    width: 150px;
}

#pqube-order {
    list-style-type: none;
}

#pqube-order>li {
    border: solid 1px #e3e3e3;
    border-radius:5px;
    background-color:#f5f5f5;
    padding: 5px;
    margin-bottom: 5px;
    cursor: pointer;
}

#meters-master-list {
    position: relative;
    margin-bottom: 40px;
}

#select-meter {
    position: absolute;
    bottom: -40px;
    right: 0px;
}

#clear-select {
    position: absolute;
    bottom: -40px;
    left:0px;
}


#selected-meters {
    margin-top: 30px;
}

#selected-meters>li {    
    padding-bottom: 5px;
    padding-top:5px;    
}

#selected-meters>li:nth-child(n+2) {
    border-top: solid 1px #ddd;
}

#selected-meters>li:hover,
#meter-default-order>li:hover {
    border-radius: 5px;                                
    background: #ddd;
}

#meter-default-order {
    margin-top: 1em;
}
#meter-default-order>li:nth-child(1) {
    border-top: solid 1px #ddd;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: purple;
}
#meter-default-order>li:nth-child(2) {
    color: #D66A00;
}
#meter-default-order>li:nth-child(3) {
    color: green;
}
#meter-default-order>li:nth-child(-n+3) {
    border-left: solid 1px #ddd;
    border-right: solid 1px #ddd;
    font-size:20px;
}
#meter-default-order>li:nth-child(3) {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;        

    border-bottom: solid 1px #ddd;
}
#meter-default-order>li:nth-child(n+4) {
    color: #aaa
}

.purple {
    color: purple;
}
.orange {
    color: #D66A00;
}
.green {
    color: green;
}
         