<template name="dataLayout">
  {{#if browserUnsupported}}
  {{> unsupportedBrowser}}
  {{else}}

    {{#unless pqube}}
  {{#if Template.subscriptionsReady}}
    <div id="no-pqubes">
      No PQube3s are available at the present. We are sorry for the inconvenience.
    </div>
    {{else}}
    <div id="loading-pqubes">
      Loading PQube3s, thank you for your patience.
    </div>

    {{/if}}
   {{else}}

    <div id="container">

      <div id="header">
	{{> meta}}			
	<a href="http://www.powersensorsltd.com" id="logo" target="_blank"><img alt="Power Sensors Ltd." src="/images/header.png">{{> title}}</a>      
	{{> newData}}
      </div>
      <div id="scopes">
	{{> scopes}}
      </div>
      {{> viewSelector}}
      {{> Template.dynamic template=bottom}}

    </div>
    {{/unless}}
    {{> footer}}
  {{/if}}
</template>

<template name="loginLayout">
  {{#if atDisabled}}
  <p>Please wait...</p>
  {{/if}}
  <div class="">
    {{> Template.dynamic template=main}}
  </div>
</template>

<template name="manageLayout">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
	Home
      </a>
      <div class="btn-group pull-right">
      <a id="nav-new-pqube" href="/manage#new-pqube-well" type="button" class="btn btn-default navbar-btn"><span class="glyphicon glyphicon-plus"></span> New PQube</a>
      <a href="/logout" type="button" class="btn btn-default navbar-btn"><span class="glyphicon glyphicon-log-out"></span> Logout</a>

      </div>
    </div>
  </nav>
  <div class="container">
    {{#unless Template.subscriptionsReady}}
    <div id="loading-pqubes">
      Loading PQubes, thank you for your patience.
    </div>
    {{else}}
    {{> Template.dynamic template=main}}
    {{/unless}}
  </div>
  {{> footer}}
  <div id="modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      {{> Template.dynamic template=modal}}
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
</template>
