<template name="dataLayout">
  {{#if browserUnsupported}}
  {{> unsupportedBrowser}}
  {{else}}

    {{#unless pqubeData}}
  {{#if Template.subscriptionsReady}}
    <div id="no-pqubes">
      {{_ "noPQubes"}}
    </div>
    {{else}}
    <div id="loading-pqubes">
      {{_ "loadingPQubes"}}
    </div>
    {{/if}}
   {{else}}

    <div id="container">

      <div id="header">
	{{> meta}}			
	<a href="http://www.powersensorsltd.com" id="logo" target="_blank"><img alt="Power Sensors Ltd." src="/images/header.png">{{> title}}</a>
	{{> newData}}
      </div>
      <div id="scopes">
	{{> scopes}}
      </div>
      {{> viewSelector}}
      {{#if metersSelected}}
      {{> meters}}
      {{else}}
      {{> spectra}}
      {{/if}}

    </div>
    {{/unless}}
    {{> footer}}
  {{/if}}
</template>

<template name="loginLayout">
  {{#if atDisabled}}
  <p>{{_ "plsWait"}}</p>
  {{/if}}
  <div class="">
    {{> Template.dynamic template=main}}
  </div>
</template>

<template name="manageLayout">
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#manage-navbar-collapse" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/{{orgURL}}">{{_ orgName}}</a>
      </div>
      <div class="collapse navbar-collapse" id="manage-navbar-collapse">
        <ul class="nav navbar-nav">
          {{> manageBreadcrumbs}}
        </ul>
        <ul class="nav navbar-nav navbar-right text-right">
          {{> Template.dynamic template=navButtons}}
          {{#if currentUser}}
          <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> {{_ "logout"}}</a></li>
          {{else}}
          <li><a href="/sign-in"><span class="glyphicon glyphicon-log-in"></span> {{_ "signin"}}</a></li>
          <li><a href="/sign-up"><span class="glyphicon glyphicon-circle-arrow-up"></span> {{_ "signup"}}</a></li>
          {{/if}}
        </ul>
      </div>
    </div>
  </nav>
  <div id="manage-content" class="container">
    {{#unless Template.subscriptionsReady}}
    <div id="loading-pqubes">
      {{_ "loadingPQubes"}}
    </div>
    {{else}}
    {{> Template.dynamic template=main}}
    {{/unless}}
  </div>
  {{> footer}}
  <div id="modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      {{> Template.dynamic template=modal}}
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
</template>
