<template name="setup">
  <div id="setup-modal" class="hidden">
		<div id="setup-branding">
			<a href="http://www.powersensorsltd.com" target="_blank"><img id="setup-logo" alt="Power Sensors Ltd." src="/psl.png"></a>
			<p>Power Sensors Ltd <br> www.PowerSendorsLtd.com</p>
		</div>
		<div id="setup-controls">
			<a href="#" class="close-setup">&times;</a>
			<br><br><br>
			{{> language}}    
		</div>
		<h1 class="centered">PQube 3 Mobile Modbus App</h1>
		{{> mainSettings}}
		<br>
		{{> meterSettings}}
		<input type="button" id="cancel" class="close-setup" value="{{_ 'cancel'}}">
		<input type="button" id="save" class="close-setup" value="{{_ 'save'}}">
  </div>
</template>


<template name="mainSettings">
	<div id="main-settings">
		<select class="main-select">
			<option>PSL Main Service</option>
			<option>{{_ "addNew"}}...</option>
		</select>
		<div class="options-right">
			<p>{{_ "name"}} <input type="text" value="PSL Main Service"></p>
			<p>IP {{_ "or"}} URL <input type="text" value="MeterDemo.PQube.com"></p>
			<p>Modbus {{_ "port"}} <input type="number" value="502"></p>
			<p>{{_ "password"}} <input type="password"></p>
		</div>
	{{> alarmSettings}}
	</div>
</template>

<template name="meterSettings">
	<div id="meter-settings">
		<select class="main-select">
			<option>{{_ "freq"}}</option>
		</select>
		<div id="alarm-setup">
			<p><input type="checkbox"> {{_ "sendEmail"}}<input type="checkbox"> {{_ "sendText"}}</p>
			<p>{{_ "alarmIf"}} {{_ "frequency"}} {{_ "lessThan"}} <input class="small-input" type="number" value="59.9"> Hz {{_ "forMoreThan"}} <input class="small-input" type="number" value="3"> {{_ "seconds"}}</p>
			<p>{{_ "alarmIf"}} Frequency {{_ "moreThan"}} <input class="small-input" type="number" value="60.1"> Hz {{_ "forMoreThan"}} <input class="small-input" type="number" value="3"> {{_ "seconds"}}</p>
		</div>
		<div id="meter-settings-inputs" class="options-right">
			<p>{{_ "multiplier"}} <input type="number" value="1"></p>
			<p>{{_ "units"}} <input type="text" value="Hz"></p>
			<p>{{_ "min"}} <input type="number" value="59.9"></p>
			<p>{{_ "max"}} <input type="number" value="60.1"></p>
			<p>{{_ "color"}} <img id="color-boxes-input" src="/color_boxes.png"></p>
			<br>
		</div>
	</div>
</template>

<template name="alarmSettings">
	<div id="alarm-settings">
	  <h3>{{_ "alarmSettings"}}:</h3>
	  <p>{{_ "emailTo"}} <input type="text" value="alex@powerstandards.com"> 
	    {{_ "noMore"}} <input class="inline small-input" type="number" value="10"> 
            {{_ "emailsPer"}} <input class="inline" type="radio" name="emails" value="hour">{{_ "hour"}} <input class="inline" type="radio" name="emails" value="day" checked>{{_ "day"}}</p>
	  <p>{{_ "textTo"}} <input type="text" value="1-510-555-0000">
	    {{_ "noMore"}} <input class="inline small-input" type="number" value="10"> 
            {{_ "textsPer"}} <input class="inline" type="radio" name="texts" value="hour">{{_ "hour"}} <input class="inline" type="radio" name="texts" value="day" checked>{{_ "day"}}</p>
	  <br>
	</div>
</template>
