<template name="metersPQube">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4>{{name}} {{_ 'meters'}}:</h4>        
  </div>
  <div class="modal-body">
    {{#if formError}}
      <div class="alert alert-danger alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
	  <span aria-hidden="true">&times;</span>
        </button>
        {{formError}}
      </div>
    {{/if}}
    <div class="row">
      <div class="col-xs-6">
        <div class="row">
          <div class="col-md-6">
            <h4>Group:</h4>
            <select id="meter-group" class="meter-select full-width">
              <option value="">All</option>
              {{#each group in groups}}
                <option value="{{group}}">{{_ group}}</option>
              {{/each}}
            </select>
            <h4>Filter:</h4>
            <input id="meter-filter" type="text" class="full-width">
          </div>
          
          <div class="col-md-6 centered">
            <h4>Meters:</h4>
            <select id="meter-list" size="20" class="meter-select full-width" multiple>
              {{#each meter in filteredMeters}}
                <option value="{{meter.name}}" {{selected meter.name}}>{{_ meter.name}}</option>
              {{/each}}
            </select>
            {{#if meterSelected}}
              {{#if notMaxSelected}}
                <button id="select-meter" class="btn btn-success"><span class="glyphicon glyphicon-ok-sign"></span></button>
              {{/if}}
              <button id="clear-select" class="btn btn-danger"><span class="glyphicon glyphicon-remove-sign"></span></button>              
            {{/if}}
          </div>
        </div>

      </div>
      <div class="col-xs-6 left-bordered">
        <div id="selected-meter-list">
        <button type="button" id="clear-all-selected" class="btn btn-default pull-right">Clear All</button>                
        <h3>Selected ({{numSelected}}/{{maxSelectable}}): </h3>
        <ul id="selected-meters" class="list-unstyled">
          {{#each meter in meterList}}
            <li>
              <span data-meter="{{meter.name}}" class="unselect clickable glyphicon glyphicon-remove-circle"></span>
              <span data-meter="{{meter.name}}" class="edit clickable glyphicon glyphicon-pencil"></span>              
              <strong>{{_ meter.name}}</strong>
              
            </li>
            {{#if editingMeter meter.name}}
              <li id="{{meter}}-edit">
                <form id="meter-gauge-form" class="form-inline">
                  <div class="form-group">
                    <label>Anchor Position:</label>
                    <div class="radio">
                      <label>
                        <input type="radio" name="anchorLocation" id="anchorBottom" value="min" {{anchorLocation 'min'}}>
                        Bottom
                      </label>
                    </div>
                    <div class="radio">
                      <label>
                        <input type="radio" name="anchorLocation" id="anchorCenter" value="center" {{anchorLocation 'center'}}>
                        Center
                      </label>
                    </div>
                  </div>
                  <br><br>
                  <div class="form-group">
                    <label for="anchor-val">Anchor Value:</label>
                    <div class="input-group">
                      <input id="anchor-val" class="form-control text-right" type="text" placeholder="{{anchorVal}}">
                      <div class="input-group-addon">{{_ meter.units}}</div>
                    </div>
                  </div>
                  <hr>
                  <button id="cancel-meter-settings" type="submit" class="btn btn-default"> {{_ "cancel"}}</button>                  
                  <button id="save-meter-settings" type="submit" class="btn btn-primary pull-right">Confirm</button>
                </form>
              </li>
            {{/if}}
          {{/each}}
        </ul>
        <hr>
        </div>
        <div class="col-xs-12">
          <button type="button" id="toggle-edit-defaults" class="btn btn-default pull-right">
            {{#if editingDefaults}}
              Confirm
              {{else}}
              Edit
            {{/if}}
          </button>
          <h4>Defaults:</h4>
        </div>
        <br>
        <ul id="default-list" class="list-unstyled text-center">
          {{#each item in defaultItem}}
            <li>{{_ item}}</li>
          {{/each}}
        </ul>
        <div id="edit-default-list">
          <ul id="meter-default-order" class="list-unstyled">
            {{#each meter in defaultMeterList}}
              <li data-meter="{{meter}}">
                <div class="row">
                  <div class="col-xs-1">
                    <span class="glyphicon glyphicon-resize-vertical"></span>
                  </div>
                  <div class="col-xs-10 col-sm-11">
                    {{_ meter}}
                  </div>
                </div>
                
              </li>
            {{/each}}
          </ul>
        </div>
      </div>
    </div>
  </div>
  {{#if saveable}}
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">{{_ "cancel"}}</button>
      <button id="save-selected-meters" type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-save"></span> {{_ "save"}}</button>
    </div>
  {{/if}}
</template>
