<template name="metersPQube">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h3>
      {{name}} {{_ 'meters'}}:
      {{#if saveable}}
        <button type="button" class="save-selected-meters btn btn-primary pull-right"><span class="glyphicon glyphicon-save"></span> {{_ "save"}}</button>
      {{/if}}      
    </h3>
  </div>
  <div class="modal-body">
    {{#if formError}}
      <div class="alert alert-danger alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
	  <span aria-hidden="true">&times;</span>
        </button>
        {{formError}}
      </div>
    {{/if}}
    <div class="row">
      <div class="col-xs-5 col-sm-4 col-md-3">

            <h4>Meter Group:</h4>
            <select id="meter-group" class="meter-select full-width">
              <option value="">All</option>
              {{#each group in groups}}
                <option value="{{group}}">{{_ group}}</option>
              {{/each}}
            </select>
            <h4>Meter Name Filter:</h4>
            <input id="meter-filter" type="text" class="full-width">

          
          <div id="meters-master-list" class="centered">
            <h4>Meters:</h4>
            <select id="meter-list" size="20" class="meter-select full-width" multiple>
              {{#each meter in filteredMeters}}
                <option value="{{meter.name}}" {{selected meter.name}}>{{_ meter.name}}</option>
              {{/each}}
            </select>
            {{#if meterSelected}}
              {{#if notMaxSelected}}
                <button id="select-meter" class="btn btn-success"><span class="glyphicon glyphicon-ok-sign"></span></button>
              {{/if}}
              <button id="clear-select" class="btn btn-danger"><span class="glyphicon glyphicon-remove-sign"></span></button>              
            {{/if}}
          </div>


      </div>
      <div class="col-xs-7 col-sm-8 col-md-9 left-bordered">
        <div id="edit-default-list">
          <ul id="meter-default-order" class="list-unstyled">
            {{#each meter in defaultMeterList}}
              <li data-meter="{{meter}}">
                <div class="row">
                  <div class="col-xs-1">
                    <span class="glyphicon glyphicon-resize-vertical"></span>
                  </div>
                  <div class="col-xs-10 col-sm-11">
                    {{_ meter}}
                  </div>
                </div>
                
              </li>
            {{/each}}
          </ul>
          <button type="button" id="cancel-defaults" class="btn btn-default">
            Cancel
          </button>          
          <button type="button" id="confirm-defaults" class="btn btn-primary pull-right">
            Confirm
          </button>          
        </div>        
        <div id="selected-meter-list">
        <h4>
          Selected
          <div class="btn-group">
            <button type="button" class="btn btn-{{selectedClass}} disabled">{{numSelected}} of {{maxSelectable}}</button>
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li><a id="edit-defaults" class="clickable">Choose Display Defaults</a></li>
            <li role="separator" class="divider"></li>
            <li><a id="default-all-selected" class="clickable">Reset All</a></li>            
            <li><a id="clear-all-selected" class="clickable">Unselect All</a></li>
          </ul>
          </div>
        </h4>
        <ul id="selected-meters" class="list-unstyled">
          {{#each meter in meterList}}
            {{#unless editingMeter meter.name}}
              <li>
                <div class="btn-group">
                  <button data-meter="{{meter.name}}" class="unselect btn btn-default">                  
                    <span class="glyphicon glyphicon-remove-circle"></span>
                  </button>
                  <button data-meter="{{meter.name}}" class="edit btn btn-default">
                    <span  class="glyphicon glyphicon-cog"></span>
                  </button>
                </div>
                <strong class="{{meterDefaultColor meter.name}}">{{_ meter.name}} {{meterDefault meter.name}}</strong>
              </li>
            {{else}}
              <li id="{{meter}}-edit">
                <h4 class="text-center">{{_ meter.name}} Settings</h4>
                <form id="meter-gauge-form" class="form-horizontal">
                  <div class="form-group">
                    <label for="meter-units" class="col-md-2 control-label">Units:</label>
                    <div class="col-md-10">
                      <input id="meter-units" class="form-control" type="text" placeholder="{{_ meter.units}}">
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="meter-mult" class="col-md-2  control-label">Multiplier:</label>
                    <div class="col-md-10">
                      <input id="meter-mult" class="form-control" type="number" placeholder="{{_ meter.multiplier}}">
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="meter-sig-figs" class="col-md-2 control-label">Sig figs:</label>
                    <div class="col-md-10">
                      <input id="meter-sig-figs" class="form-control" type="number" max="4" min="0" placeholder="{{_ meter.sigFigs}}">
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="col-md-2 control-label">Anchor Position:</label>
                    <div class="col-md-10">
                        <label class="radio-inline">
                          <input type="radio" name="anchorLocation" id="anchorBottom" value="min" {{anchorLocation 'min'}}>
                          Bottom
                        </label>

                        <label class="radio-inline">
                          <input type="radio" name="anchorLocation" id="anchorCenter" value="center" {{anchorLocation 'center'}}>
                          Center
                        </label>

                    </div>
                  </div>

                  <div class="form-group">
                    <label for="anchor-val" class="col-md-2">Anchor Value:</label>
                    <div class="col-md-10">
                      <div class="input-group">
                        <input id="anchor-val" class="form-control text-right" type="number" placeholder="{{anchorVal}}">
                        <div class="input-group-addon">{{_ meter.units}}</div>
                      </div>
                    </div>
                  </div>

                  <button id="cancel-meter-settings" type="button" class="btn btn-default"> {{_ "cancel"}}</button>
                  <div class="btn-group pull-right">
                    <button id="default-meter-settings" type="button" class="btn btn-primary">Defaults</button>                                                    
                    <button id="save-meter-settings" type="submit" class="btn btn-primary">Confirm</button>
                  </div>

                </form>
              </li>
            {{/unless}}
          {{/each}}
        </ul>
        </div>
      </div>
    </div>
  </div>
  {{#if saveable}}
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">{{_ "cancel"}}</button>
      <button type="submit" class="save-selected-meters btn btn-primary"><span class="glyphicon glyphicon-save"></span> {{_ "save"}}</button>
    </div>
  {{/if}}
</template>
