<template name="pqubeStatus">
  <div class="well">
    {{#if unknown}}
    <div class="alert alert-warning text-center">
      <p>{{_ "connectAttempt"}} {{host}}:{{port}}</p>
      <p>{{_ "connectHelp"}}</p>
    </div>
    {{/if}}
    {{#if unverified}}
    <div class="alert alert-danger text-center">
      <p>{{_ "verifyFailure"}} {{host}}:{{port}}</p>
    </div>
    {{/if}}
    <div class="row text-center">
      <span class="col-sm-6 col-xs-12">
	      <h3>{{name}}</h3>
	      <h4>{{host}}:{{port}}</h4>
      </span>
      <span class="col-sm-6 col-xs-12">
	      <h4>{{_ "status"}}:
          <span class="glyphicon glyphicon-{{statusIcon}}"></span>
	        {{#if defaultPQube}}
	        <span>({{_ "default"}})</span>
	        {{else}}
	        {{#if defaultable}}
	        <a href="#" type="button" class="make-pqube-default btn btn-default">{{_ "makeDefault"}}</a>
	        {{/if}}
	        {{/if}}
	      </h4>
	      <span class="btn-group" role="group">
          {{#if verified}}
          <a href="{{currentPath}}{{org}}{{pqube3}}/{{_id}}/meters" type="button" class="edit-pqube btn btn-default"><span class="glyphicon glyphicon-dashboard"></span> {{_ "meters"}}</a>
          {{/if}}
	        <a href="{{currentPath}}{{org}}{{pqube3}}/{{_id}}/edit" type="button" class="edit-pqube btn btn-default"><span class="glyphicon glyphicon-cog"></span> {{_ "settings"}}</a>
	        <a href="{{currentPath}}{{org}}{{pqube3}}/{{_id}}/delete" type="button" class="delete-pqube btn btn-default"><span class="glyphicon glyphicon-trash"></span> {{_ "delete"}}</a>
	      </span>
      </span>
    </div>
  </div>
</template>
