<template name="spectra">
  {{#if isHarmonic}}
  <div id="harmonic-fundamental">
    <span class="red">L1 {{_ 'fundamental'}}</span>: {{fund1}} {{_ harmonicUnits}}<br>
    <span class="yellow">L2 {{_ 'fundamental'}}</span>: {{fund2}} {{_ harmonicUnits}}<br>
    <span class="blue">L3 {{_ 'fundamental'}}</span>: {{fund3}} {{_ harmonicUnits}}<br>
  </div>
  {{/if}}

  <canvas id="spectra-chart" width="530" height="430"></canvas>
  <span id="y-axis-units" class="spectra-units">{{_ yUnits}}</span>
  <span id="x-axis-units" class="spectra-units">{{_ xUnits}}</span>
  
</template>
