<template name="newOrg">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		<h4 class="modal-title">{{_ "newOrg"}}:</h4>
	</div>
	<form id="new-org-form" name="new-org-form" class="form-horizontal">
		<div class="modal-body text-center">
			{{#if formError}}
			<div class="alert alert-danger alert-dismissable">
	      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
		      <span aria-hidden="true">&times;</span>
	      </button>
	      {{formError}}
			</div>
			{{/if}}

			<div class="form-group">
        <label for="new-org-name" class="col-sm-3 control-label">{{_ "name"}}</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" id="new-org-name"  placeholder="{{_ 'name'}}">
        </div>
      </div>
      <div class="form-group">
        <label for="new-org-slug" class="control-label col-sm-3">{{_ 'url'}}</label>
        <div class="col-sm-9 controls">
          <div class="input-group">
            <div class="input-group-addon">{{rootURL}}/</div>
						<input type="text" class="form-control" id="new-org-slug"	 placeholder="{{_ 'url'}}">
					</div>
				</div>
      </div>

      <div class="form-group">
        <hr>
        <label for="visiblity-group" class="col-sm-3 control-label">{{_ 'dataVisibility'}}</label>
        <div id="visiblity-group" class="col-sm-9 controls">
          <label class="radio-inline">
            <input type="radio" name="visibility" id="public-radio" value="public" checked="checked"> {{_'public'}}
          </label>
          <label class="radio-inline">
            <input type="radio" name="visibility" id="private-radio" value="private"> {{_ 'private'}}
          </label>
        </div>
      </div>

      <div id="view-code-group">
        <div class="form-group">
	        <label for="new-org-code" class="col-sm-3 control-label">{{_ "viewCode"}}</label>
	        <div class="col-sm-9">
	          <input type="text" class="form-control" id="new-org-view-code"  placeholder="{{_ 'accessCode'}}">
	        </div>
        </div>
      </div>


    <div class="form-group">
      <hr>
	    <label for="new-org-code" class="col-sm-3 control-label">{{_ "manageCode"}}</label>
	    <div class="col-sm-9">
	      <input type="password" class="form-control" id="new-org-manage-code"  placeholder="{{_ 'accessCode'}}">
	    </div>
    </div>
    <div class="form-group">
	    <div class="col-sm-9 col-sm-offset-3">
	      <input type="password" class="form-control" id="new-org-manage-code-confirm"  placeholder="{{_ 'confirm'}}">
	    </div>
    </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">{{_ "cancel"}}</button>
      <button id="submit-new-org-form" type="submit" class="btn btn-primary pull-right"><span class="glyphicon glyphicon-plus"></span> {{_ "add"}}</button>
    </div>
  </form>
</template>
