<template name="confirmDeletePQube">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">{{_ "confirmDelete"}} PQube3:</h4>
  </div>
  <div class="modal-body text-center">
    <h3>{{name}}</h3>
    <span>{{host}}</span>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">{{_ "cancel"}}</button>
    <button id="delete-pqube" type="button" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span> {{_"delete"}}</button>
  </div>
</template>
