<template name="pqubeStatus">
  <div class="well">
    {{#if unverified}}
    <div class="alert alert-warning text-center">
      <p>{{_ "verifyAttempt"}} {{ip}}:{{port}}</p>
      <p>{{_ "verifyHelp"}}</p>

    </div>
    {{/if}}
    <div class="row text-center">
      <span class="col-sm-6 col-xs-12">
	<h3>{{name}}</h3>
	<h4>{{ip}}:{{port}}</h4>
      </span>
      <span class="col-sm-6 col-xs-12">
	<h4>{{_ "status"}}:
	  {{#if connected}}
	  <span class="glyphicon glyphicon-ok-sign text-success"></span>
	  {{else}}
	  <span class="glyphicon glyphicon-remove-sign text-danger"></span>
	  {{/if}}
	  {{#if defaultPQube}}
	  <span>({{_ "default"}})</span>
	  {{else}}
	  {{#if defaultable}}
	  <a href="#" type="button" class="make-pqube-default btn btn-default">{{_ "makeDefault"}}</a>
	  {{/if}}
	  {{/if}}
	</h4>

	<span class="btn-group " role="group">
	  <a href="/manage/edit/{{_id}}" type="button" class="edit-pqube btn btn-default"><span class="glyphicon glyphicon-pencil"></span> {{_ "edit"}}</a>
	  <a href="/manage/delete/{{_id}}" type="button" class="delete-pqube btn btn-default"><span class="glyphicon glyphicon-trash"></span> {{_ "delete"}}</a>
	</span>
      </span>
    </div>
  </div>
</template>
